{% extends "layout.html" %}

{% block content %}
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>Zigliki's Things</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>

  <!-- Introduction -->
  <div class="w3-container" id="intro" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Introduction</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Hi! I'm Zigliki and I am an aspiring software developer!</p>
    <p>I recently graduated from Conestoga Collage after studying Software Engineering Technology. My best programming language is probably C# with C/C++ right behind it.
    I am reasonably proficient with many other languages like Python, Java, Node.js, React, HTML and, CSS. I have also dabbled with Swift.
    I enjoy learning new thing and pick up on them quickly. If I don't know a language, it doesn't take that long to get up to speed.
    </p>
  </div>
  
  <!-- Project Creator -->
  <div class="w3-container" id="Project_Creator" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Project Creator</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Project Creator is the capstone project for my team worked on for out software engineering program.</p>
    <p>Project Creator is built on the Mictosoft ASP.NET Framework with webforms for its interface. 
    It utilises a Microsoft Azure SQL database for data storage and Azure blob storage for images,
    videos and pdfs. It was deployed to the cloud through Azure as well. Unfortunately, it is no longer online
    as the deployment was through the school accounts which are no longer active and I cannot afford to run the deployment myself.
    </p>
    <p><b><a href="https://github.com/rbloemert/MERM-Capstone2020">Check out this project on GitHub!</a></b></p>
  </div>

  <!-- Portfolio -->
  <div class="w3-container" id="Portfolio" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Portfolio Website</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>This website is a php website that I wrote!</p>
    <p>I know services like SquareSpace and Wix offer services that make portfolio building easy to do. As
    I am a software developer, I figured that I save some money and write my own. I don't know how the service
    websites look but I don't think I have done a bad job.
    </p>
    <p>
    This portfolio website is written using PHP, Twig and, Composer and is deployed via Heroku. Isn't that neat?
    </p>
    <p><b><a href="https://github.com/kingnoskcaj/portfolio">Check out this project on GitHub!</a></b></p>
  </div>

  <!-- Guessify -->
  <div class="w3-container" id="Guessify" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Guessify</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Guessify is a game for iOS where you attempt to move the slider to the correct position</p>
    <p>Guessify was the first real iOS app that I worked on. It is written using Swift. It utilises many different UI elements and 
    plays music in the backround Unfortunately, it doesn't have good code separation and contains most of
    the code with ViewController.swift. The apps that were developed afterwards did better but
    I no longer have those applications. 
    </p>
    <p><b><a href="https://github.com/kingnoskcaj/guessify">Click here to learn more!</a></b></p>
  </div>

  <!-- Car Dealer Website -->
  <div class="w3-container" id="Car_Dealer_Website" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Car Dealer Website</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Car Dealer Website is the final project for my Advanced Web Frameworks course</p>
    <p>Car Dealer Website is a demonstration of a React frontend with a Node.js backend. It utilises MongoDB
    for data storage.
    </p>
    <p><b><a href="https://github.com/kupoapo/CarDealerWebsite">Check out this project on GitHub!</a></b></p>
  </div>

  <!-- ZigzBot -->
  <!--
  <div class="w3-container" id="ZigzBot" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>ZigzBot</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>ZigzBot is a IRC bot for Twitch</p>
    <p>Several years ago my friend Garonrouge was getting into streaming on Twitch. I thought it would be
    fun to write a bot to interact with the chat. ZigzBot is written using Java and uses the swing UI elements.
    Zigzbot can tell users how long the channel has been streaming, draft Hearthstone arena decks based 
    on user input and, hug people who hug him. Unfortunately, Garonrouge didn't end up streaming and as
    further development was based on ideas that came up while streaming the bot stagnated.
    </p>
    <p><b><a href="/zigzbot">Click here to learn more!</a></b></p>
  </div>
  -->

  

<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>


</body>

{% endblock %}
